<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="/style.css">
</head>

<style>
    body{
        background-color: bisque;
    }
    button{
        height: 30px;
        width: 80px;
        border-radius: 10px;
        background-color: rgba(0, 255, 255, 0.468);
    }
</style>
