<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>this is a home page</h1>

    <!-- Embeding js in html -->
    <h3><%= 1+2 %></h3> 
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quos fuga consequuntur inventore minima assumenda vel laudantium, consectetur aliquid cumque veritatis numquam molestias velit iste aperiam quibusdam maiores asperiores. Soluta maiores maxime expedita quaerat delectus.</p>
    <button>click me!</button>
</body>
</html>