<%- layout("/layouts/boilerplate") %>

    <div class="row  ">
        <div class="col-8 offset-2">
            <br><br>
            <h3>Create a New Listing</h3>
            <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <!-- Title -->
                <div class="mb-3">
                    <label for="title" class="form-lable">Title</label>
                    <input name="listing[title]" placeholder="Add a Catchy title" type="text" class="form-control"
                        required>
                    <div class="valid-feedback">Title Looks good!</div>
                    <div class="invalid-feedback">Please add a Title</div>
                </div>
                <!-- Description -->
                <div class="mb-3">
                    <label for="description" class="form-lable">Description</label>
                    <textarea name="listing[description]" type="text" class="form-control" required></textarea>
                    <div class="valid-feedback">Description Looks Good!</div>
                    <div class="invalid-feedback">Please add a Description</div>
                </div>
                <!-- image -->
                <!-- <div class="mb-3">
                    <label for="image" class="form-lable">Image Link</label>
                    <input name="listing[image]" placeholder="enter image URL/Link" type="text" class="form-control">
                </div> -->
                <!-- image file upload -->
                <div class="mb-3">
                    <label for="image" class="form-lable">Upload Image</label>
                    <input name="listing[image]" placeholder="enter image URL/Link" type="file" class="form-control">
                </div>
                <!-- Price -->
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-lable">Price</label>
                        <input name="listing[price]" placeholder="1200" type="" class="form-control" required>
                        <div class="invalid-feedback">Please add a Valid price</div>
                        <div class="valid-feedback">Price Looks Good!</div>
                    </div>
                    <!-- Country -->
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-lable">Country</label>
                        <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
                        <div class="invalid-feedback">Please add a country</div>
                        <div class="valid-feedback">Country Looks Good!</div>
                    </div>
                </div>
                <!-- Location -->
                <div class="mb-3">
                    <label for="location" class="form-lable">Location</label>
                    <input name="listing[location]" placeholder="Jaipur, Rajasthan" type="text" class="form-control" required>
                    <div class="invalid-feedback">Please add a Location</div>
                    <div class="valid-feedback">Location looks Good!</div>
                </div>

                <button class="btn btn-dark add-btn mt-3">Add</button>
            </form>
        </div>
    </div>