body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 218, 214);
}

input{
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}
#inp{
    height: 45px;
}
.div-main{
    margin: 10px;
    height: 100%;
    width: 40%;
    /* border: 1px solid black; */
    border-radius: 5px;
    align-items: center;
    background-color: rgb(233, 235, 235);
}
h4{
    margin-top: 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}
button{
    width: 100%;
    text-align: center;
    margin-top: 5px;
    height: 43px;
}
#button{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}